html,
body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif, sans-serif;
}

.settings {
  background: #bbada0;
}

.hex {
  position: absolute;
  left: 50%;
  top: 50%;

  &__cell {
    position: absolute;
    z-index: 3;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }

  &__bg-border {
    position: absolute;
    z-index: 2;
    left: -70px;
    top: -45px;
    width: 155px;
    height: 115px;

    background: url("data:image/svg+xml,%3csvg viewBox='0 0 200 174' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M5 86.836L0.649821 84.371C-0.226542 85.9176 -0.215834 87.8133 0.677944 89.3499L5 86.836ZM52.3255 168.2L48.0034 170.714C48.8987 172.253 50.5449 173.2 52.3255 173.2V168.2ZM51.3707 5V0C49.5699 0 47.9083 0.968328 47.0205 2.53506L51.3707 5ZM148.757 168.2V173.2C150.551 173.2 152.207 172.239 153.097 170.682L148.757 168.2ZM147.802 5L152.139 2.51278C151.248 0.958577 149.593 0 147.802 0V5ZM195 87.3093L199.341 89.7908C200.221 88.2512 200.22 86.3605 199.337 84.8221L195 87.3093ZM0.677944 89.3499L48.0034 170.714L56.6475 165.686L9.32206 84.322L0.677944 89.3499ZM9.35018 89.3009L55.7209 7.46494L47.0205 2.53506L0.649821 84.371L9.35018 89.3009ZM52.3255 173.2H148.757V163.2H52.3255V173.2ZM51.3707 10H147.802V0H51.3707V10ZM190.659 84.8278L144.416 165.718L153.097 170.682L199.341 89.7908L190.659 84.8278ZM199.337 84.8221L152.139 2.51278L143.464 7.48722L190.663 89.7965L199.337 84.8221Z' fill='%23B5A89B' /%3e %3c/svg%3e")
      center center no-repeat;
  }
  &__bg {
    position: absolute;
    z-index: -1;
    left: -55px;
    top: -40px;
  }
}
